*       text=auto eol=lf

# Guaranteed to be text
*.h     text      eol=lf
*.json  text      eol=lf
*.m     text      eol=lf
*.md    text      eol=lf
*.rs    text      eol=lf
*.swift text      eol=lf
*.toml  text      eol=lf
*.txt   text      eol=lf

xenon-prefs/Sources/XenonPrefs/Socket/* linguist-vendored
xenon-client/tray-item-rs/* linguist-vendored
